@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #886045b2;
    border: 2px solid #886045 ;
    color: azure;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
transform: scale(1.2);
}

.intro-text { 
    background-color: #c0af93;
    color:
    #110a06;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
   
}

.intro-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guality-image__link a {
    background-color: #7a57309c;
    border: 2px solid #361907 ;
    color: #161512;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.guality-image__link a:hover{
    transform: scale(1.2);
}


.quality-text{
    background-color: #f3d3a0;
    color:
    #110a06;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image{
    background-attachment: fixed;
    background-image: url('../img/image3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #08060785;
    border: 2px solid #b4b0ad ;
    color: rgba(228, 231, 233, 0.945);
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
    }



    .origin-text{
        background-color: #7d6156b6;
        color:
        #0e0d0d;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        padding: 0 15rem;
    }

    .origin-text__textbox h3{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }



.footer{
    height: 250px;
    background-color: #cec6ba;
    color:#161512;
    font-size: 2rem;
    padding-top: 2rem;

}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a{
    color:#161512;
    text-decoration: none;
}

.footer ul li:hover {
    
    transform: scale(1.2);
}